<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add an Item</title>
</head>

<body>
    <h1>Create a New Wish List Item</h1>
    <h3>~
        <a href='success'>Home</a> ~
        <a href='logout'>Logout</a> ~</h3>

    <form action='create' method='post'>
        {% csrf_token %}
        <label>Item/Product:</label>
        <input type='text' name='item'>

        <input type='submit' value='Add'>
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
</body>

</html>